.hero {
  height: 100vh;
  background-image: url(../../assets/svg/herobg2.svg);
  background-repeat: no-repeat;
  background-position: 0px -150px;
  background-size: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    .textbox {
      position: relative;
      z-index: 2;
      .star {
        position: relative;
        h1 {
          width: 100%;
          max-width: 613px;
          color: #2c2e33;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 20px;
        }
        img {
          position: absolute;
          right: 100px;
          top: 140px;
          animation: star 15s linear infinite;
        }
      }
      p {
        width: 100%;
        max-width: 652px;
        color: #6a727d;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
        margin-bottom: 40px;
      }
      .btn {
        padding: 11px 22px;
        border-radius: 100px;
        background: #010066;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        z-index: 100;
      }
    }
    .end {
      position: relative;
      .circle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        top: -30px;
        right: -30px;
        border: 1px solid #010066;
        width: 176px;
        height: 176px;
        border-radius: 50%;
        .textcircle {
          position: absolute;
          animation: anim 8s infinite linear;
          animation-iteration-count: infinite;
        }
        .minicircle {
          width: 16px;
          height: 16px;
          background-color: #fff;
          border: 1px solid #010066;
          border-radius: 50%;
        }
      }
    }
    .star2 {
      position: absolute;
      bottom: 35px;
      left: 145px;
      z-index: 1;
      animation: star2 25s linear infinite;
    }
    .star3 {
      position: absolute;
      top: 380px;
      right: 410px;
        animation: star3 18s linear infinite;
    }
  }
  .star4 {
    bottom: 150px;
    right: -40px;
    position: absolute;
    animation: star4 35s linear infinite;
  }
}

@keyframes anim {
  0% {
    transform: rotateZ(360deg);
  }
}

@keyframes star {
  0%, 100%{
    transform: translateY(0px) translateX(0px) rotateZ(0deg);

  }
  30%{
    transform: translateY(100px) rotateZ(180deg);
    transition: 5s;
  }
  50% {
    transform: translateX(-100px) translateY(-100px) rotateZ(360deg);

  }
}


@keyframes star3 {
  0%, 100%{
    transform: translateX(0px) translateY(0px) rotateZ(0deg);

  }
  50% {
    transform: translateX(-100px) translateY(100px)  rotateZ(-360deg);

  }
}

@keyframes star2 {
  0%, 100%{
    transform: translateX(0px) translateY(0px) rotateZ(0deg);

  }
  30%{
    transform: translateY(-100px) rotateZ(720deg);
    transition: 10s;
  }
  50% {
    transform: translateX(-200px) translateY(-200px)  rotateZ(-360deg);
  }
}

@keyframes star4 {
  0%, 100%{
    transform: translateX(0px) translateY(0px) rotateZ(0deg);

  }
  30%{
    transform: translateY(100px) rotateZ(720deg);
    transition: 25s;
  }
  50% {
    transform: translateY(200px) translateX(-200px)  rotateZ(360deg);
  }
}
