.hero {
  height: 100vh;
  background-image: url(../../assets/svg/herobg2.svg);
  background-repeat: no-repeat;
  background-position: 0px -150px;
  background-size: cover;
  overflow: hidden;
  display: grid;
  place-items: center;
  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    .textbox {
      position: relative;
      z-index: 999;
      .star {
        position: relative;
        h1 {
          width: 100%;
          max-width: 613px;
          color: #2c2e33;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 20px;
        }
        img {
          position: absolute;
          right: 100px;
          top: 140px;
          animation: star 15s linear infinite;
        }
      }
      p {
        width: 100%;
        max-width: 652px;
        color: #6a727d;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 133.333% */
        margin-bottom: 40px;
      }
      .btn {
        padding: 11px 22px;
        border-radius: 100px;
        background: #010066;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        z-index: 100;
      }
    }
    .end {
      width: 100%;
      max-width: 432px;
      height: 471px;
      position: relative;
      .circle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        top: -30px;
        right: -30px;
        border: 1px solid #010066;
        width: 176px;
        height: 176px;
        border-radius: 50%;
        .textcircle {
          position: absolute;
          animation: anim 8s infinite linear;
          animation-iteration-count: infinite;
        }
        .minicircle {
          width: 16px;
          height: 16px;
          background-color: #fff;
          border: 1px solid #010066;
          border-radius: 50%;
        }
      }
    }
    .star2 {
      position: absolute;
      bottom: 35px;
      left: 145px;
      z-index: 1;
      animation: star2 25s linear infinite;
    }
    .star3 {
      position: absolute;
      top: 380px;
      right: 410px;
      animation: star3 18s linear infinite;
    }
  }
  .star4 {
    bottom: 150px;
    right: 0px;
    position: absolute;
    animation: star4 35s linear infinite;
    z-index: -1;
  }
}

@keyframes anim {
  0% {
    transform: rotateZ(360deg);
  }
}

@keyframes star {
  0%,
  100% {
    transform: translateY(0px) translateX(0px) rotateZ(0deg);
  }
  30% {
    transform: translateY(100px) rotateZ(180deg);
    transition: 5s;
  }
  50% {
    transform: translateX(-100px) translateY(-100px) rotateZ(360deg);
  }
}

@keyframes star3 {
  0%,
  100% {
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
  }
  50% {
    transform: translateX(-100px) translateY(100px) rotateZ(-360deg);
  }
}

@keyframes star2 {
  0%,
  100% {
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
  }
  30% {
    transform: translateY(-100px) rotateZ(720deg);
    transition: 10s;
  }
  50% {
    transform: translateX(-200px) translateY(-200px) rotateZ(-360deg);
  }
}

@keyframes star4 {
  0%,
  100% {
    transform: translateX(0px) translateY(0px) rotateZ(0deg);
  }
  30% {
    transform: translateY(100px) rotateZ(720deg);
    transition: 25s;
  }
  50% {
    transform: translateY(200px) translateX(-200px) rotateZ(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  .hero {
    height: 100%;
    padding-top: 120px;
    .wrapper {
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      .textbox {
        z-index: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    background-image: url(../../assets/svg/mobile-herobg.svg);
    background-size: 100%;
    .wrapper {
      .end {
        margin-bottom: 41px;
      }
      .textbox {
        .star {
          h1 {
            max-width: 613px;
            font-size: 50px;
            margin-bottom: 20px;
          }
          img {
            position: absolute;
            right: 100px;
            top: 140px;
            animation: star 15s linear infinite;
          }
        }
        p {
          width: 100%;
          max-width: 550px;
          color: #6a727d;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 133.333% */
          margin-bottom: 30px;
        }
        .btn {
          padding: 11px 22px;
          border-radius: 100px;
          background: #010066;
          border: none;
          color: #fff;
          cursor: pointer;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          z-index: 100;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .hero {
    background-image: url(../../assets/svg/mobile-herobg.svg);
    background-size: 100%;
    .wrapper {
      .end {
        margin-bottom: 41px;
      }
      .textbox {
        .star {
          h1 {
            max-width: 613px;
            font-size: 40px;
            margin-bottom: 20px;
          }
          img {
            position: absolute;
            right: 100px;
            top: 140px;
            animation: star 15s linear infinite;
          }
        }
        p {
          width: 100%;
          max-width: 550px;
          color: #6a727d;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 133.333% */
          margin-bottom: 30px;
        }
        .btn {
          padding: 11px 22px;
          border-radius: 100px;
          background: #010066;
          border: none;
          color: #fff;
          cursor: pointer;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          z-index: 100;
        }
      }
    }
    .end {
      width: 100%;
      max-width: 100%;
      height: 273px;
      .circle {
        width: 136px !important;
        height: 136px !important;
        img{
          width: 100px;
          height: 100px;
        }
      }
      .heroImg{
        width: 100%;
        height: 100%;
      }
    }
  }
}



@media only screen and (max-width: 450px) {
  .hero {
    .wrapper {
      .end {
        margin-bottom: 41px;
      }
      .textbox {
        .star {
          h1 {
            max-width: 613px;
            font-size: 36px;
            margin-bottom: 16px;
          }
          img {
            position: absolute;
            right: 100px;
            top: 140px;
            animation: star 15s linear infinite;
          }
        }
        p {
          font-size: 18px;
          margin-bottom: 16px;
        }
        .btn {
          padding: 11px 22px;
          border-radius: 100px;
          background: #010066;
          border: none;
          color: #fff;
          cursor: pointer;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          z-index: 100;
        }
      }
      .star2 {
        position: absolute;
        top: 0;
        left: 145px;
        z-index: 1;
        animation: star2 25s linear infinite;
      }
      .star3 {
        position: absolute;
        top: 180px;
        right: 210px;
        animation: star3 18s linear infinite;
      }
    }
    .end {
      position: relative;
      width: 0;
      max-width: 0;
      height: 373px !important;
      margin-bottom: 0;
      .circle {
        width: 136px !important;
        height: 136px !important;
        img{
          width: 100px;
          height: 100px;
        }
      }
      .heroImg{
        width: 100%;
        height: 100%;
      }
    }
  }
}
