.contact {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #010066;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .contacttext {
      h2 {
        color: #fff;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 48px */
        margin-bottom: 12px;
      }
      p {
        color: #fff;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        margin-bottom: 60px;
      }
      .forma {
        position: relative;
        input {
          border-radius: 100px;
          width: 560px;
          height: 80px;
          border: none;
          outline: none;
          color: #000;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 30px */
          padding-left: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
        }
        button {
          position: absolute;
          top: 5px;
          left: 270px;
          width: 285px;
          height: 70px;
          border-radius: 100px;
          background: #010066;
          border: none;
          color: #fff;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 30px */
          cursor: pointer;
        }
      }
    }
  }
}
