@import "../../scss/variable.scss";
.btn {
  padding: 8px 25px;
  border-radius: 100px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
  max-width: 140px;
}
