@import "../../scss//variable.scss";
.modal {
    position: relative;
    width: 517px;
    border-radius: 12px;
    background: #fff;
    padding: 40px 40px 80px 40px;
    
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      
      img {
        width: 200px;
        height: 26px;
      }
    }
    
    p {
      color: #2c2e33;
      font-family: Inter;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      margin-bottom: 30px; 
      text-align: center;
    }
    
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      
      
      .input {
        margin-bottom: 40px;
        border: none;
        border-bottom: 1px solid #00000099;;
        outline: none;
        height: 36px;
        font-size: 20px;
        
        &::placeholder {
          color: #D5D5D8;
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }
      }
      
      button {
        height: 60px;
        background-color: $darkMoonBlue;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 100px;
      }
    }
    .close{
        top: 10px;
        position: absolute;
        right: 15px;
        cursor: pointer;
    }
  }
  