.header {
  width: 100%;
  position: fixed;
  z-index: 9;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      cursor: pointer;
    }
    .end {
      display: flex;
      align-items: center;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 29px;
      margin-right: 50px;
      li {
        color: #2c2e33;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
      }
    }
    .telnumber {
      color: #0e0e0e;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 178%;
      margin-right: 19px;
    }
    .btn {
      display: flex;
      align-items: center;
      background-color: #010066;
      padding: 11px 34px;
      border-radius: 50px;
      color: var(--wht, #fff);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 178%; /* 32.04px */
      border: none;
      cursor: pointer;
    }
  }
}
