.lang {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-right: 20px;
  cursor: pointer;
  .selectlang {
    background-color: transparent;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
  }
}


@media only screen and (max-width: 450px) {
  .lang {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 5px;
  }
}